body{
	background-color: #e8f0ff;
	font-family: 'Raleway', sans-serif;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
	font-size: 1.2em;
}

#nav li {
  float: right;
	padding-left: 5%;
	position: sticky;
	position: -webkit-sticky; /* Safari */
}

#nav li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav li a:hover{
	color: #3537b8;
	text-shadow: 1px 1px 15px #3537b8;
}

.heading{
	text-align: center;
	padding-top: 5%;
}

.heading img{
	border-radius: 50%;
	width: 20%;
}

h2{
	border-bottom: 2px dotted #5d88d0;
	padding: 30px 5%;
	font-size: 2em;
}

.exp{
	padding: 10px 5%;
}

a{
	color: #192874;
}

a:hover{
	text-shadow: 2px 2px 15px #3537b8;
}

button{
	padding: 1%;
	margin-left: 2%;
	background-color: #5d88d0;
	color: #fff;
	width: 30%;
	height: 60px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	transition-timing-function: ease-in-out;
	transition: .25s;
}

button:hover{
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5), 0 8px 20px 0 rgba(0, 0, 0, 0.5);
	background-color: #192874;
	color: #fff;
}
button:active{
	box-shadow: none;
	-moz-box-shadow: inset 0 0 15px #000000;
  -webkit-box-shadow: inset 0 0 15px #000000;
  box-shadow: inset 0 0 15px #000000;
}

.colcontainer {
  display: flex;
	flex-wrap: wrap;
	flex-flow: center;
	margin-left: 25%;
	margin-bottom: 25px;
}

.firstCol{
	width: 50%;
}

.secondCol{
	width: 25%;
	padding-left: 1%;
}

@media only screen and (max-width: 800px) {
	button{
		width: 100%;
		padding: 2%;
		margin: 1%;
	}
	button:hover{
		width: 100%;
	}
	.aboutMe img{
	display: none;
	}
	.secondCol, .firstCol{
		width: 100%;
		padding: 0px;
	}
	.heading img{
		width: 150px;
	}
}
