body {
  color: white;
  font-family: sans-serif;
  padding: 5%;
  top:0;
  padding-top: 0px;
  margin-top:0px;
}
body a {color: white;
}

#nav {
  background: url(dark_geometric.png);
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
  padding: 1%;
  background: black;
  text-align: center;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  top: 0;
}

/*link styles*/
a:default{
  text-decoration: none;
}

a:visited{
}

#nav a {
  padding-left: 1%;
  padding-right: 1%;
}

#header h1{
  text-align: center;
  color: black;
  font-family: 'Indie Flower', cursive;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Indie Flower', cursive;
color: black;
}

#body{
  border: solid, 1px, black;

}

* {
    box-sizing: border-box;
}

#columncontainer{
 background:url(dark_geometric.png);
}

/* Create two equal columns that floats next to each other */
 .column {
    float: left;
    width: 80%;
    padding: 10px;
    color: white;
}
 .column img {
  width: 100%;
}
/* Clear floats after the columns */
 .row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #columncontainer .column {
        width: 100%;
    }
}

#moreinfo {
  color: black;
}
#moreinfo h4 {
  font-size: 1.5em;
}
#moreinfo h5 {
  font-size: 1.2em;
}

/*Portfolio Grid*/
#portfoliocontainer .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
#portfoliocontainer .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

#portfoliocontainer .column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
  }
    /*end of portfoliocontainer*/

/*Hover Effects for nav*/
.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
